<div class="main">
  <h1>LISTA DE TAREFAS</h1>
  <label for="addItemInput">Alguma tarefa a fazer?</label>

  <input #newItem placeholder="adicione uma tarefa" (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input" id="addItemInput" />

  <button class="btn-primary" (click)="addItem(newItem.value)">Adicionar</button>

  <!-- div que lida com os filtros -->
  <div class="btn-wrapper">
    <button class="btn btn-menu" [class.active]="filter == 'all'" (click)="filter = 'all'">
      Todas
    </button>

    <button class="btn btn-menu" [class.active]="filter == 'active'" (click)="filter = 'active'">
      A Fazer
    </button>

    <button class="btn btn-menu" [class.active]="filter == 'done'" (click)="filter = 'done'">
      Feitas
    </button>
  </div>

  <h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">tarefa</span>
    <ng-template #elseBlock>tarefas</ng-template>
  </h2>

  <ul>
    <li *ngFor="let item of items">
      <app-item (remove)="remove(item)" [item]="item"></app-item>
    </li>
  </ul>

  
  <!-- exibe as tarefas do banco de dados, via API (método GET, somente) -->
  <ul *ngIf="allItems$ | async as itemsTeste">
    <li *ngFor="let item of itemsTeste">
      <!-- <app-item (remove)="remove(item)" [item]="item"></app-item> -->
      <app-item [item]="item"></app-item>
    </li>
  </ul>

</div>
